.main {
    /* background-color: #3f1b4642; */
    color: rgb(197, 196, 196);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 25%);
    width: 100%;
    max-width: 90vw;
    min-height: 90vh;
    margin: 20px auto 0;
    padding: 15px;
    gap: 4px;
    column-gap: 15px;
    overflow-x: auto;
}

.passeios {
    /* background-color: #401dd8; */
    /* background-color: #361F27; */
    /* grid-row: span 3;
    border-width: 1.3px;
    border-style: dashed;
    border-color: rgb(34, 61, 85);
    border-radius: 10px;
    padding: 15px;
    overflow-x: auto; */
    background-color: #fff;
    box-shadow: 0 3px 8px 0 rgba(116,129,141,.1);
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.125);
    transition: box-shadow .4s ease,transform .2s;
}

.agendamentos {
    background-color: #361F27;
    grid-row: span 3;
    border-width: 1.3px;
    border-style: solid;
    border-color: rgb(34, 61, 85);
    border-radius: 10px;
    padding: 15px;
    overflow-x: auto;
}

.veiculos {
    /* background-color: #361F27; */
    background-color: #131111;
    grid-row: span 3;
    border-width: 1.3px;
    border-style: solid;
    border-color: rgb(34, 61, 85);
    border-radius: 20px;
    padding: 15px;
    overflow-x: auto;
}

ul {
    list-style: none;
    width: 100%;
}

ul>li {
    background-color: #75391a99;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px;
}

ul>li>header {
    font-size: 18px;
    /* display: flex; */
}

ul>li>header>div {
    font-size: 15px;
    float: right;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.close {
    max-width: 20px;
    max-height: 20px;
}

.edit {
    max-width: 18px;
    max-height: 18px;
}

.veiculos>ul>li>label {
    border-top: 15px;
    font-size: 15px;
}

strong {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.proximos {
    background-color: #131111;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    border-width: 1.3px;
    border-style: solid;
    border-color: rgb(34, 61, 85);
    border-radius: 10px;
    padding: 15px;
    overflow-x: auto;
}

.dia-da-semana {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dia-da-semana>div {
    font-size: 14px;
    border-radius: 50%;
    padding: 4px;
    border-width: 1.2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    width: 37px;
    height: 37px;
    line-height: 28px;
    top: 90px;
    text-align: center;
    color: #FFF;
    /* borde; */
}

.dia-especifico {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
}

.todos-dias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
}

.on {
    background-color: #1b6163;
}

.off {
    background-color: #8a7878;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #788177;
}